extends layout-simple

append stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css')
    link(href='/css/start.css' rel='stylesheet' type='text/css')

block view
    .signin.start(ng-controller="SignInCtrl")
        .signup#create-account
            form
                .col-sm-offset-2.col-sm-8.clear.signin-section
                    h1 Entering Circle Blvd.
                    p Welcome to Circle Blvd. To get started with your first project, 
                     | or "circle" as we call them, please enter a few things:

                    label(for="signupCircleName") 
                        h2 1. Circle name
                    p Name your first circle after your group or project. You'll be able to 
                     | change this later. And, you'll be able to create more circles later.
                    div
                        input#signupCircleName.form-control(type="text" ng-model="signup.circle" placeholder="Circle or project name")

                    label(for="signupEmail") 
                        h2 2. Your email address 
                    p This is how you'll be signing in to the Circle Blvd website and app.
                    div
                        input#signupEmail.form-control(type="text" ng-model="signup.email" placeholder="Email address")
                    div
                        input.form-control(type="password" ng-model="signup.password" placeholder="Password")
                    
                    label(for="signupName") 
                        h2 3. Your first name
                    p This can be any name that people in your circle will recognize 
                     | you by. We suggest using first names only.
                    div
                        input#signupName.form-control(type="text" 
                            ng-model="signup.name" 
                            placeholder="First name, full name, or nickname")
                    
                    button.btn.btn-default.pull-right(
                        ng-hide="signup.message"
                        type="submit" 
                        ng-click="signUp()") Create circle

                .col-sm-offset-2.col-sm-8.clear.ng-cloak(ng-show="signup.message")
                    .thanks.story.deadline.not-selected {{signup.message}}