extends layout-simple

block view
    .signin(ng-controller="SignInCtrl")
       .welcome
            h1 Circle&nbsp;Blvd.
            .col-sm-offset-2.col-sm-8
                form
                    h4 Welcome.
                    p Sign in here, or create an account at the bottom of this page.
                    div
                        input.form-control(type="text" ng-model="user.email" placeholder="Email address")
                    div
                        input.form-control(type="password" ng-model="user.password" placeholder="Password")
                   
                    .actionRow
                        .checkbox-inline.remember.pull-left
                            label.relax
                                input(type="checkbox" ng-model="rememberMe") 
                                span Remember me
                        button.btn.btn-default.pull-right(type="submit" ng-click="signIn()") Sign in 

            .col-sm-offset-2.col-sm-8
                .clear.message(ng-cloak) {{message}} 
                    span(ng-show="signinFailure && isNotificationEnabled()") <a class="jsLink" ng-click="sendSecret()">Forgot password</a>?

        .intro
            .col-sm-offset-2.col-sm-8.clear.signin-section
                h2 Get things done, together

                p Circle Blvd is a really nice todo list, for groups. It works
                 | for individuals, too, but it was made with groups of up to 12 people in mind.

                p With this site, share tasks with your group, and it all stays
                 | in sync through the internet. 

                p Circle Blvd is just the
                 | right size for small, important projects around
                 | the house, around school and the workplace, and around town.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-globe
                    .col-xs-8.col-sm-9
                        h4 For community projects 
                        p Get your volunteers on the same page by outlining what needs
                         | to be done. Circle Blvd helps you deligate work and build a 
                         | healthy community that grows together.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-heart-empty
                    .col-xs-8.col-sm-9
                        h4 For student and professional clubs
                        p Get organized! Circle Blvd helps you plan ahead and remember 
                         | the hundreds of things you want to do. We help your 
                         | executive team stay on track and accomplish what you set out
                         | to do.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-record
                    .col-xs-8.col-sm-9
                        h4 For startups
                        p Make roadmaps for your product and business development. Use
                         | mileposts to outline your path to success, and reprioritize
                         | as you learn and grow your business.

                .row
                    .col-xs-4.col-sm-3.for-glyph
                        span.glyphicon.glyphicon-list
                    .col-xs-8.col-sm-9
                        h4 For everyday lists
                        p Use Circle Blvd to replace the shared lists you keep on 
                         | your fridge. With the iPhone app, quickly add items as 
                         | fast as you can think of them, from anywhere.

        .tour
            .col-sm-offset-2.col-sm-8.clear.signin-section
                h2 Lay your team's path

                .row.before-video
                    .col-xs-8.col-sm-9
                        p Circle Blvd is for people with things to do. 
                         | It's a basically just a really nice todo list, 
                         | made for teams of up to 12 people. 

                        p Below is a 90-second overview of the site. If
                         | you're already familiar with using the web for
                         | task management, head to our quick tips page
                         | for the <a href="/tips">whirlwind tour</a>.
                    .col-xs-4.col-sm-3.for-glyph
                        span(ng-include="'/img/glyphs/icon-same-idea.svg'")

                .embed-container
                    iframe(src="//www.youtube-nocookie.com/embed/-a7n_iyqB0A?rel=0" frameborder="0" allowfullscreen)

                p.below-video This site supports:
                ul
                    li Multiple projects
                    li Unlimited accounts
                    li Task lists, assignments, status updates, comments
                    li Drag-and-drop prioritization
                    li One-line task entry, multiple-task entry
                    li Email notifications
                    li Hashtags / label filtering
                    li Reusable checklists
                    li Roadmap planning
                    li Task archives
                    li Admin management
                    li Secure communication over HTTPS

                p <span class="glyphicon glyphicon-play"></span> 
                 | Visit <a href="/tour">our tour page</a> to see a self-guided 
                 | outline of the main aspects of the site.

                h4 Available on iPhone, too.
                p Our app is free to download on the App Store.

                .row.app-screenshot-container 
                    .col-xs-offset-2.col-xs-8.col-sm-offset-0.col-sm-4.app-screenshot
                        img(src="https://raw.githubusercontent.com/holmwell/circle-blvd-assets/master/img/screenshots/iPhone-0.png")
                    .col-xs-offset-2.col-xs-8.col-sm-offset-0.col-sm-4.app-screenshot
                        img(src="https://raw.githubusercontent.com/holmwell/circle-blvd-assets/master/img/screenshots/iPhone-1.png")
                    .col-xs-offset-2.col-xs-8.col-sm-offset-0.col-sm-4.app-screenshot
                        img(src="https://raw.githubusercontent.com/holmwell/circle-blvd-assets/master/img/screenshots/iPhone-2.png")

                .row.app-download
                        a(href="https://itunes.apple.com/us/app/circle-blvd./id991896253?mt=8&uo=6&at=&ct=" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png) no-repeat;width:165px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg);}")

        .free
            .col-sm-offset-2.col-sm-8.clear.signin-section
                h2 Circle Blvd is free

                p We made this site to help you grow healthy communities, on 
                 | your own terms. If you 
                 | enjoy using the site, you can <a href="/partner">become a development partner</a> 
                 | to encourage improvements and help share the site with more people.

                p In addition, if you want to change part of the site, you're free to 
                 | <a href="https://github.com/holmwell/circle-blvd">download it yourself</a>,
                 | edit it, and run your own copy on your Mac, Linux, or Windows computer.

        .signup#create-account
            form
                .col-sm-offset-2.col-sm-8.clear.signin-section
                    h2 Start today
                    p To get started, we need a name for your team, a sign-in address,
                     | and a name that people in your group will recognize you by.

                    label.sr-only(for="signupCircleName") What's the name of your circle?
                    div
                        input#signupCircleName.form-control(type="text" ng-model="signup.circle" placeholder="Circle or group name")

                    label(for="signupEmail") How will you be signing in?
                    div
                        input#signupEmail.form-control(type="text" ng-model="signup.email" placeholder="Email address")
                    div
                        input.form-control(type="password" ng-model="signup.password" placeholder="Password")
                    
                    label(for="signupName") What's your name?
                    div
                        input#signupName.form-control(type="text" 
                            ng-model="signup.name" 
                            placeholder="First name, full name, or nickname")
                    
                    button.btn.btn-default.pull-right(
                        ng-hide="signup.message"
                        type="submit" 
                        ng-click="signUp()") Create circle

                .col-sm-offset-2.col-sm-8.clear.ng-cloak(ng-show="signup.message")
                    .thanks.story.deadline.not-selected {{signup.message}}

        .donate
            .col-sm-offset-2.col-sm-8.clear.donate-section
                img(src="/img/logo-on-black-76px.png")
                .links
                    span <a href="/tour">tour</a>
                     | . 
                    span <a href="/about">about</a>
                     | . 
                    span(ng-show="isPaymentEnabled()") <a href="/partner">partner</a> . 
                    span @<a href="https://twitter.com/circleblvd">circleblvd</a>
                     | . 
                    span a <a href="http://a.secretproject.org/">holmwell</a> project