<!doctype html>
<html lang="en" ng-app="myApp" prefix="og: http://opg.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title ng-bind="pageTitle">Circle Blvd.</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/app.css">

  <meta name="description" content="Circle Blvd. Task management for community projects. Best for volunteer organizations, non-profits, and small teams. 
  Free to try out. Made in Corvallis, Oregon.">

  <meta name="keywords" content="circle blvd, task management, software, agile, scrum, free, open source">

  <meta property="og:title" content="Circle Blvd.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://<%= host %>/img/logo-on-black-152px.png">
  <meta property="og:image:secure_url" content="https://<%= host %>/img/logo-on-black-152px.png">
  <meta property="og:url" content="https://<%= host %>/">
  <meta property="og:description" content="Task management for community projects. Best for volunteer organizations, non-profits, and small teams. 
  Free to try out. Made in Corvallis, Oregon.">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon" href="img/logo-on-black-60px.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/logo-on-black-76px.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/logo-on-black-120px.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/logo-on-black-152px.png">
  <link rel="apple-touch-startup-image" href="img/startup-ios.png">

  <link rel="icon" sizes="196x196" href="img/logo-196px.png">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="lib/jQuery.ui.touch-punch.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="lib/modernizr/touch.js"></script>

  <% if (analyticsId) { %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= analyticsId %>', 'auto');
    
  </script>
  <% } %>
</head>
<body ng-controller="TopLevelCtrl" 
  ng-mouseup="mouseup($event)"
  ng-mousedown="mousedown($event)"
  ng-mousemove="mousemove($event)"
  ng-mouseleave="mouseleave($event)"
  ng-keydown="keydown($event)" 
  ng-keyup="keyup($event)">
<div id="topLevel">
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" 
    aria-labelledby="errorTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="errorTitle">Sorry, something didn't work</h4>
        </div>
        <div class="modal-body">
          <p>Sorry, we failed to save what you did just now. We're still 
            working on making the website perfect, and it seems we have
            a bit of work to do.</p>
          <p>If you keep seeing this message, please let us know.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reload()">Refresh page</button>
        </div>
      </div>
    </div>
  </div>

 <div class="navbar navbar-inverse topMenu" role="navigation" ng-cloak>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-circles">
          <span class="sr-only">Show circles</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/"><span class="circle" ng-include="'/img/glyphs/icon-white-circle.svg'"></span></a>
      <div class="navbar-title visible-xs" ng-if="isSignedIn()">
        <h2>{{getActiveCircleName()}}</h2>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navigation-circles">
      <ul class="nav navbar-nav">
        <li ng-repeat="circle in circleList()" ng-hide="circle.isArchived" ng-class="{active: isActiveCircle(circle)}">
          <a class="jsLink" data-toggle="collapse" data-target="#navigation-circles.in"
            ng-click="setActiveCircle(circle, true)">{{circle.name}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: isCurrentPath('/tips')}")><a 
          href="/tips" 
          data-toggle="collapse" data-target="#navigation-circles"><span 
          class="glyphicon glyphicon-flash"></span></a></li>
        <li ng-show="hasMainframeAccess()"
          ng-class="{active: isCurrentPath('/mainframe')}"><a 
          data-toggle="collapse" data-target="#navigation-circles.in"
          href="#/mainframe">Mainframe access</a></li>
        <li ng-class="{active: isCurrentPath('/partner')}"><a 
          data-toggle="collapse" data-target="#navigation-circles.in"
          href="/partner">Partner</a></li> 
        <li ng-class="{active: isCurrentPath('/tour')}"><a 
          data-toggle="collapse" data-target="#navigation-circles.in"
          href="/tour">Tour</a></li> 
      </ul>
    </div>
  </div> 
 </div>


<div class="container-fluid main debug no-select">
  <div class="header clearfix debug ng-cloak text-select" ng-if="isSignedIn()" ng-hide="!isHeaderVisible">
    <div class="mindset-container hidden-xs debug">
      <div class="mindset-element mindset-element-detailed debug">
        <span ng-click="setMindset('detailed')" 
          ng-class="{ 'selected-mindset': isMindset('detailed') }"
          ng-mouseenter="setMindsetLabel('')"
          class="glyphicon glyphicon-move debug"></span>
      </div>

      <div class="mindset-element debug">
        <span ng-click="setMindset('bump')" 
          ng-mouseenter="setMindsetLabel('What\'s Next')"
          ng-mouseleave="setMindsetLabel('')"
          ng-class="{ 'selected-mindset': isMindset('bump') }"
          class="glyphicon glyphicon-chevron-up right debug"></span>
              
        <!-- <span ng-click="setMindset('mine')" 
          ng-class="{ 'selected-mindset': isMindset('mine') }"
          ng-mouseenter="setMindsetLabel('Status Update')"
          ng-mouseleave="setMindsetLabel('')"
          class="glyphicon glyphicon-record right debug"></span> -->

        <span ng-click="setMindset('roadmap')"
          ng-class="{ 'selected-mindset': isMindset('roadmap') }" 
          ng-mouseenter="setMindsetLabel('Roadmap')"
          ng-mouseleave="setMindsetLabel('')"
          class="glyphicon glyphicon-road right debug"></span>

        <div class="label debug">{{mindsetLabel}}</div>
      </div>
    </div>
    <!--
    <div class="navbar navbar-default" role="navigation" ng-cloak ng-show="isSignedIn()">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Circle Blvd</a></li>
            <li><a href="#/archives">Archives</a></li>
            <li><a href="#/profile">Profile</a></li>
            <li ng-show="isAdmin()"><a href="#/admin">Admin</a></li>
            
            <li><a class="jsLink" ng-click="signOut()">Sign out</a></li>
          </ul>
      </div>
    </div>
     -->

    <h2 class="debug hidden-xs title">
      <a href="/#/">{{getActiveCircleName()}}</a>
    </h2>
    <!-- <ul class="menu col-xs-2 col-md-4" ng-show="!isSignedIn()">
       <li><a href="#/signin">Sign in</a></li>
    </ul> -->

    <div class="col-xs-12 debug">
      <ul class="menu debug">
        <li><a href="/#/">List</a></li>
        <li><a href="/#/archives/">Archives</a></li>
        <li><a href="/#/lists">Checklists</a></li>
        <li><a href="/#/profile">Profile</a></li>
        <li class="hidden-xs" ng-show="isAdmin()"><a href="/#/admin">Admin</a></li>
        
        <li><a class="jsLink" ng-click="signOut()">Sign&nbsp;out</a></li>
      </ul>
    </div> 
  </div>
  <div class="view" ng-view></div>
</div>

<div class="footer hidden-xs">
  <div>
    a <a href="http://holmwell.com">holmwell</a> project: circle boulevard . 
    v<span><%= version %></span> .
    <a href="/about">about</a> .
    <a href="/privacy">privacy</a> .
    <a href="/contact">contact</a> .
    <a href="https://twitter.com/circleblvd">follow</a> .
    <a href="/partner">partner</a>
  </div>
  <div><a href="https://github.com/holmwell/circle-blvd">source code</a> on GitHub .
  <span>some icons, courtesy <a href="http://www.glyphicons.com">Glyphicons</a></span></div>
</div>

<div class="footer visible-xs">
  <div>circle boulevard . v<span><%= version %></span></div>
  <div><span>some icons, courtesy <a href="http://www.glyphicons.com">Glyphicons</a></span></div>
  <div>
    <a href="https://github.com/holmwell/circle-blvd">source code</a> on GitHub
  </div>
</div>

</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->

  <%- compactJsHtml() %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</body>
</html>