<!doctype html>
<html lang="en" ng-app="myApp" prefix="og: http://opg.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title ng-bind="pageTitle">Circle Blvd.</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/app.css">

  <meta name="description" content="Circle Blvd. Project management for small teams. Just
  the right size for small, important projects in your community. Make things simple, again.">

  <meta name="keywords" content="circle blvd, project management, project planning, task management, volunteers, software, agile, scrum, free, open source">

  <meta property="og:title" content="Circle Blvd.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://<%= host %>/img/logo-on-black-152px.png">
  <meta property="og:image:secure_url" content="https://<%= host %>/img/logo-on-black-152px.png">
  <meta property="og:url" content="https://<%= host %>/">
  <meta property="og:description" content="Project management for small teams. Just
  the right size for small, important projects in your community. Make things simple, again.">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon" href="img/logo-on-black-60px.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/logo-on-black-76px.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/logo-on-black-120px.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/logo-on-black-152px.png">
  <link rel="apple-touch-startup-image" href="img/startup-ios.png">

  <link rel="icon" sizes="196x196" href="img/logo-196px.png">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="lib/jQuery.ui.touch-punch.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="lib/modernizr/touch.js"></script>

  <% if (analyticsId) { %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= analyticsId %>', 'auto');
    
  </script>
  <% } %>
</head>
<body ng-controller="TopLevelCtrl" 
  ng-mouseup="mouseup($event)"
  ng-mousedown="mousedown($event)"
  ng-mousemove="mousemove($event)"
  ng-mouseleave="mouseleave($event)"
  ng-keydown="keydown($event)" 
  ng-keyup="keyup($event)">
<div id="topLevel">
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" 
    aria-labelledby="errorTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="errorTitle">Sorry, something didn't work</h4>
        </div>
        <div class="modal-body">
          <p>Sorry, we failed to save what you did just now. We're still 
            working on making the website perfect, and it seems we have
            a bit of work to do.</p>
          <p>If you keep seeing this message, please let us know.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reload()">Refresh page</button>
        </div>
      </div>
    </div>
  </div>

 <div class="navbar navbar-inverse topMenu" role="navigation" ng-cloak>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-circles">
          <span class="sr-only">Show circles</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/"><span class="circle" ng-include="'/img/glyphs/icon-white-circle.svg'"></span></a>
      <div class="navbar-title visible-xs" ng-if="isSignedIn()">
        <h2>{{getActiveCircleName()}}</h2>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navigation-circles">
      <ul class="nav navbar-nav">
        <li ng-repeat="circle in circleList()" ng-hide="circle.isArchived" ng-class="{active: isActiveCircle(circle)}">
          <a class="jsLink" data-toggle="collapse" data-target="#navigation-circles.in"
            ng-click="setActiveCircle(circle, true)">{{circle.name}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="hasMainframeAccess()"
          ng-class="{active: isCurrentPath('/mainframe')}"><a 
          data-toggle="collapse" data-target="#navigation-circles.in"
          href="#/mainframe">Mainframe access</a></li>

        <li ng-class="{active: isCurrentPath('/tips')}")><a 
          href="/tips" 
          data-toggle="collapse" data-target="#navigation-circles"><span 
          class="glyphicon glyphicon-flash"></span></a></li>

        <li ng-class="{active: isCurrentPath('/tour')}"><a 
          data-toggle="collapse" data-target="#navigation-circles.in"
          href="/tour">Tour</a></li> 

        <li ng-show="isSignedIn()"
          ng-click="resetMindset()"
          ng-class="{active: isCurrentPath('/profile')}"><a 
          data-toggle="collapse" data-target="#navigation-circles.in"
          href="/#/profile">Profile</a></li> 

        <li ng-show="isSignedIn()"><a class="jsLink"
          ng-click="signOut()"
          data-toggle="collapse" 
          data-target="#navigation-circles.in">Sign out</a></li> 
      </ul>
    </div>
  </div> 
 </div>

<div class="main-wrapper">
    <div class="header clearfix debug ng-cloak text-select" ng-if="isSignedIn()" ng-hide="!isHeaderVisible">
      <div class="container-fluid debug header-inner">
        <div class="col-sm-6 debug hidden-xs">
              <h2 class="debug title">
                <a href="/#/"
                ng-click="setMindset('detailed')">{{getActiveCircleName()}}</a>
              </h2>
        </div>
        <div class="col-sm-6 col-xs-12 debug header-menu">
          <div>
            <a href="/#/archives" class="glyph"
              ng-click="resetMindset()"
              ng-class="{active: isCurrentPath('/archives')}">
              <div class="glyphicon-time glyphicon"></div>
              <div>Archives</div>
            </a>

            <a href="/#/lists" class="glyph" 
              ng-click="resetMindset()"
              ng-class="{active: isCurrentPath('/lists')}">
              <div class="glyphicon-list glyphicon"></div>
              <div>Checklists</div>
            </a>

            <a class="jsLink glyph hidden-xs" href="/#/" 
              ng-class="{active: isMindset('roadmap')}"
              ng-click="setMindset('roadmap')">
              <div class="glyphicon-road glyphicon"></div>
              <div>Roadmap</div>
            </a>

            <a class="glyph jsLink hidden-xs right-most" href="/#/admin" 
              ng-class="{active: isCurrentPath('/admin')}"
              ng-click="resetMindset()"
              ng-show="isAdmin()">
              <div class="glyphicon-cog glyphicon"></div>
              <div>Admin</div>
            </a>
          </div>
        </div>
      </div>

      <div class="back-bar" ng-if="isBackBarVisible">
        <div class="container-fluid">
          <a href="/#/" ng-click="setMindset('detailed')"><div class="glyphicon-chevron-left glyphicon"></div></a>
          <a href="/#/" ng-click="setMindset('detailed')">{{backBarText || 'Back to task list'}}</a>
        </div>
      </div>

    </div>

  <div class="container-fluid main debug no-select">
  <!--     <div class="col-xs-12 menu-proto" style="background-color: gold">
  &nbsp;
      </div> -->

      <!-- <div class="mindset-container hidden-xs debug">
        <div class="mindset-element mindset-element-detailed debug">
          <span ng-click="setMindset('detailed')" 
            ng-class="{ 'selected-mindset': isMindset('detailed') }"
            ng-mouseenter="setMindsetLabel('')"
            class="glyphicon glyphicon-move debug"></span>
        </div>

        <div class="mindset-element debug">
          <span ng-click="setMindset('bump')" 
            ng-mouseenter="setMindsetLabel('What\'s Next')"
            ng-mouseleave="setMindsetLabel('')"
            ng-class="{ 'selected-mindset': isMindset('bump') }"
            class="glyphicon glyphicon-chevron-up right debug"></span>
                
          <span ng-click="setMindset('roadmap')"
            ng-class="{ 'selected-mindset': isMindset('roadmap') }" 
            ng-mouseenter="setMindsetLabel('Roadmap')"
            ng-mouseleave="setMindsetLabel('')"
            class="glyphicon glyphicon-road right debug"></span>

          <div class="label debug">{{mindsetLabel}}</div>
        </div>
      </div> -->

    <div class="view" ng-view></div>
  </div>
</div>

<div class="footer desktop-view hidden-xs debug">
  <div class="footer-inner debug">
    <div class="container-fluid debug">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-6">
            <div>
              <img src="/img/logo-35.png"/>
              <h5><a href="/#/">Circle Blvd.</a></h5>
              <ul class="product">
                <li>by <a href="http://holmwell.com">Holmwell Software</a></li>
                <li><%= version %></li>
              </ul>
            </div>
            <div class="notice">
              <div><span>some icons, courtesy <a href="http://www.glyphicons.com">Glyphicons</a></span></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="col-sm-6">
              <h5><a href="/about">Information</a></h5>
              <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li><a href="https://facebook.com/circleblvd">Facebook page</a></li>
                <li><a href="/privacy">Privacy policy</a></li>
                <li><a href="https://github.com/holmwell/circle-blvd">Source code</a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <h5><a href="/tour">Tour</a></h5>
              <ul>
                <li><a href="/tour/start/list">List overview</a></li>
                <li><a href="/tour/work/mileposts">Mileposts</a></li>
                <li><a href="/tour/start/app">Mobile app</a></li>
              </ul>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="footer visible-xs">
  <div>Circle Blvd. <span><%= version %></span></div>
  <div><span>some icons, courtesy <a href="http://www.glyphicons.com">Glyphicons</a></span></div>
  <div>
    <a href="https://github.com/holmwell/circle-blvd">source code</a> on GitHub
  </div>
</div>

</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->

  <%- compactJsHtml() %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</body>
</html>