doctype html
html(lang="en" ng-app="CircleBlvd" ng-controller="TopLevelCtrl" prefix="og: http://opg.me/ns#")
head
  title(ng-bind="pageTitle") Circle Blvd.

  link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
  link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  link(href='//fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet' type='text/css')
  link(rel="stylesheet" href="css/base.css")
  link(rel="stylesheet" href="css/app.css")
  link(rel="stylesheet" href="css/header.css")

  link(rel="stylesheet" 
    ng-href="/data/circle/{{getActiveCircle()._id}}/custom.css")

  include inc/site-meta
  include inc/open-graph
  include inc/mobile-devices

  script(src="//unpkg.com/vue@2/dist/vue.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
  script(src="lib/jQuery.ui.touch-punch.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  script(src="lib/modernizr/touch.js")

  include inc/google-analytics

body(
  ng-mouseup="mouseup($event)"
  ng-mousedown="mousedown($event)"
  ng-mousemove="mousemove($event)"
  ng-mouseleave="mouseleave($event)"
  ng-keydown="keydown($event)" 
  ng-keyup="keyup($event)")
  #topLevel.home-page

    include inc/error-modal
    include inc/navbar
    
    .main-wrapper
      .header.clearfix.debug.ng-cloak.text-select(ng-if="isSignedIn()" ng-hide="!isHeaderVisible")
        .container-fluid.debug.header-inner
          .col-sm-6.debug.hidden-xs.title-wrapper
            h2.debug.title
              a(href="/#/" ng-click="setMindset('detailed')") {{getActiveCircleName()}}

          .col-sm-6.col-xs-12.debug.header-menu
            div
              a.glyph(href="/#/archives"
                ng-click="resetMindset()"
                ng-class="{active: isCurrentPath('/archives')}")
                .glyphicon-time.glyphicon
                div Archives

              //- a.glyph(href="/#/lists" 
              //-   ng-click="resetMindset()"
              //-   ng-class="{active: isCurrentPath('/lists')}")
              //-   .glyphicon-list.glyphicon
              //-   div Checklists

              a.jsLink.glyph.hidden-sm(href="/#/" 
                ng-class="{active: isMindset('bump')}"
                ng-click="setMindset('bump')")
                .glyphicon-chevron-up.glyphicon
                div Next up

              a.jsLink.glyph.hidden-xs(href="/#/" 
                ng-class="{ active: isMindset('roadmap'), 'right-most': !isAdmin() }"
                ng-click="setMindset('roadmap')")
                .glyphicon-road.glyphicon
                div Roadmap

              a.glyph.jsLink.hidden-xs.right-most(href="/#/admin" 
                ng-class="{active: isCurrentPath('/admin')}"
                ng-click="resetMindset()"
                ng-show="isAdmin()")
                .glyphicon-cog.glyphicon
                div Admin

        .back-bar(ng-if="isBackBarVisible")
          .container-fluid
            a(href="/#/" ng-click="setMindset('detailed')")
              .glyphicon-chevron-left.glyphicon
            a(href="{{backBarUrl || '/#/'}}" ng-click="setMindset('detailed')") {{backBarText || 'Back to task list'}}

      .container-fluid.main.debug.no-select
        .view(ng-view)

    include inc/footer

  div !{compactJsHtml()}
  script(src="_dist/main.js")
  script(src="https://checkout.stripe.com/checkout.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js")