doctype html
html(lang="en" ng-app="myApp" prefix="og: http://opg.me/ns#")
  head
    base(href="/")
    title(ng-bind="pageTitle") Circle Blvd.

    link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
    link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link( href="css/app.css" rel="stylesheet")

    include inc/site-meta
    include inc/open-graph
    include inc/mobile-devices

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//code.jquery.com/ui/1.11.1/jquery-ui.js")
    script(src="/lib/jQuery.ui.touch-punch.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="/lib/modernizr/touch.js")

    include inc/google-analytics

  body(ng-controller="TopLevelCtrl" 
    ng-mouseup="mouseup($event)"
    ng-mousedown="mousedown($event)"
    ng-mousemove="mousemove($event)"
    ng-mouseleave="mouseleave($event)"
    ng-keydown="keydown($event)" 
    ng-keyup="keyup($event)")
    #topLevel
      block content
  
    //- <!-- In production use:
    //- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    //- -->
    !{compactJsHtml()}
    script(src="https://checkout.stripe.com/checkout.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js")
