.navbar.navbar-inverse.topMenu(role="navigation" ng-cloak)
  .container-fluid
    .navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navigation-circles")
        span.sr-only Show circles
        span.icon-bar
        span.icon-bar
        span.icon-bar
      
      a.navbar-brand(href="/#/")
        span.circle(ng-include="'/img/glyphs/icon-white-circle.svg'")
      .navbar-title.visible-xs(ng-if="isSignedIn()")
        h2(ng-bind="getActiveCircleName()")

    .collapse.navbar-collapse#navigation-circles
      ul.nav.navbar-nav
        li(ng-repeat="circle in circleList()" 
          ng-hide="circle.isArchived"
          ng-class="{active: isActiveCircle(circle)}")
          a.jsLink(data-toggle="collapse" data-target="#navigation-circles.in"
            ng-click="setActiveCircle(circle, true)" ng-bind="circle.name")

      ul.nav.navbar-nav.navbar-right
        li(ng-class="{active: isCurrentPath('/tips')}")
          a(href="/tips" data-toggle="collapse" data-target="#navigation-circles")
            span.glyphicon.glyphicon-flash
              
        li(ng-show="hasMainframeAccess()" ng-class="{active: isCurrentPath('/mainframe')}")
          a(href="/#/mainframe" 
            data-toggle="collapse" data-target="#navigation-circles.in") Mainframe access

        li(ng-class="{active: isCurrentPath('/partner')}")
          a(href="/partner"
            data-toggle="collapse" data-target="#navigation-circles.in") Partner

        li(ng-class="{active: isCurrentPath('/tour')}")
          a(href="/tour"
            data-toggle="collapse" data-target="#navigation-circles.in") Tour