<!doctype html>
<html lang="en" ng-app="myApp" prefix="og: http://opg.me/ns#">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Circle Blvd.</title>
  
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css">

  <meta property="og:title" content="Circle Blvd.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://<%= host %>/img/logo-on-black-152px.png">
  <meta property="og:image:secure_url" content="https://<%= host %>/img/logo-on-black-152px.png">
  <meta property="og:url" content="https://<%= host %>/">
  <meta property="og:description" content="Circle Boulevard is for groups of 3-10 people, to get on the same page. It is for managing tasks, keeping track of progress, and knowing who is doing what in your group projects.">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="apple-touch-icon" href="img/logo-on-black-60px.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/logo-on-black-76px.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/logo-on-black-120px.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/logo-on-black-152px.png">
  <link rel="apple-touch-startup-image" href="img/startup-ios.png">

  <link rel="icon" sizes="196x196" href="img/logo-196px.png">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="js/lib/modernizr/touch.js"></script>

</head>
<body ng-controller="TopLevelCtrl" ng-keydown="keydown($event)" ng-keyup="keyup($event)">
<div id="topLevel">
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" 
    aria-labelledby="errorTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="errorTitle">Sorry, something didn't work</h4>
        </div>
        <div class="modal-body">
          <p>Sorry, we failed to save what you did just now. We're still 
            working on making the website perfect, and it seems we have
            a bit of work to do.</p>
          <p>If you keep seeing this message, please let us know.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="reload()">Refresh page</button>
        </div>
      </div>
    </div>
  </div>

 <div class="navbar navbar-inverse topMenu" role="navigation" ng-cloak>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-circles">
          <span class="sr-only">Show circles</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">O</a>
      <div class="navbar-title visible-xs" ng-if="isSignedIn()">
        <h2>{{getActiveCircleName()}}</h2>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navigation-circles">
      <ul class="nav navbar-nav">
        <li ng-repeat="circle in circleList()" ng-class="{active: isActiveCircle(circle)}">
          <a class="jsLink" 
            ng-click="setActiveCircle(circle, true)">{{circle.name}}</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="hasMainframeAccess()"
          ng-class="{active: isCurrentPath('/mainframe')}"><a 
          href="#/mainframe">Mainframe access</a></li>
        <li ng-class="{active: isCurrentPath('/docs')}"><a 
          href="#/docs">Documentation</a></li> 
      </ul>
    </div>
  </div> 
 </div>


<div class="container-fluid main debug">
  <div class="header row debug ng-cloak" ng-if="isSignedIn()">
    <!--
    <div class="navbar navbar-default" role="navigation" ng-cloak ng-show="isSignedIn()">
      <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Circle Blvd</a></li>
            <li><a href="#/archives">Archives</a></li>
            <li><a href="#/profile">Profile</a></li>
            <li ng-show="isAdmin()"><a href="#/admin">Admin</a></li>
            
            <li><a class="jsLink" ng-click="signOut()">Sign out</a></li>
          </ul>
      </div>
    </div>
     -->

    <h2 class="debug hidden-xs col-sm-3 title"><a href="/">Circle&nbsp;Blvd.</a></h2>
    <!-- <ul class="menu col-xs-2 col-md-4" ng-show="!isSignedIn()">
       <li><a href="#/signin">Sign in</a></li>
    </ul> -->

    <ul class="menu visible-xs debug">
      <li><a href="/">List</a></li>
      <li><a href="#/archives">Archives</a></li>
      <li><a href="#/profile">Profile</a></li>
      <li ng-show="isAdmin()"><a href="#/admin">Admin</a></li>
      
      <li><a class="jsLink" ng-click="signOut()">Sign out</a></li>
    </ul> 

    <!-- TODO: This duplicate menu is lame. -->
    <ul class="menu hidden-xs col-sm-9 debug">
      <li><a href="#/archives">Archives</a></li>
      <li><a href="#/profile">Profile</a></li>
      <li ng-show="isAdmin()"><a href="#/admin">Admin</a></li>
      
      <li><a class="jsLink" ng-click="signOut()">Sign out</a></li>
    </ul> 
  </div>
  <div class="view" ng-view></div>
</div>

<div class="footer hidden-xs">circle boulevard . v<span><%= version %></span> . 
  <a href="https://github.com/secret-project/circle-blvd">source code</a> on GitHub .
  <span>some icons, courtesy <a href="http://www.glyphicons.com">Glyphicons</a></span>
</div>

<div class="footer visible-xs">
  <div>circle boulevard . v<span><%= version %></span></div>
  <div><span>some icons, courtesy <a href="http://www.glyphicons.com">Glyphicons</a></span></div>
  <div><a href="https://github.com/secret-project/circle-blvd">source code</a> on GitHub</div>
</div>

</div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="js/lib/angular/angular.js"></script>
  <script src="js/lib/angular/angular-route.js"></script>
  <script src="js/lib/angular/angular-sanitize.js"></script>
  <script src="js/lib/store/store.min.js"></script>

  <script src="js/lib/yui/dd-dependencies.js"></script>
  <script src="js/lib/yui/dd.js"></script>
  
  <script src="js/lib/autosize/jquery.autosize.min.js"></script>
  <script src="js/lib/typeahead/0.10.2.js"></script>

  <script src="js/app.js"></script>
  
  <script src="js/services/hacks.js"></script>
  <script src="js/services/signInName.js"></script>
  <script src="js/services/session.js"></script>
  <script src="js/services/stories.js"></script>
  <script src="js/services/errors.js"></script>
  <script src="js/services.js"></script>

  <script src="js/controllers/topLevel.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/controllers/story.js"></script>
  <script src="js/controllers/storyList.js"></script>
  <script src="js/controllers/home.js"></script>
  <script src="js/controllers/signin.js"></script>
  <script src="js/controllers/archive.js"></script>
  <script src="js/controllers/profile.js"></script>
  <script src="js/controllers/docs.js"></script>
  <script src="js/controllers/donate.js"></script>
  <script src="js/controllers/admin.js"></script>
  <script src="js/controllers/mainframe.js"></script>
  <script src="js/controllers/fix.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
</body>
</html>