doctype html
html(lang="en" ng-app="#{angularModuleName}" prefix="og: http://opg.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Circle Blvd.
    base(href="/")

    link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
    link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet' type='text/css')
    block stylesheets

    meta(name="description" content="Circle Blvd. Project management for small teams. Just the right size for small, important projects in your community. Make things simple, again.")

    meta(name="keywords" content="circle blvd, task management, software, agile, scrum, free, open source")

    meta(property="og:title" content="Circle Blvd.")
    meta(property="og:type" content="website")
    meta(property="og:image" content="http://#{host}/img/logo-on-black-152px.png")
    meta(property="og:image:secure_url" content="https://#{host}/img/logo-on-black-152px.png")
    meta(property="og:url" content="https://#{host}/")
    meta(property="og:description" content="Project management for small teams. Just the right size for small, important projects in your community. Make things simple, again.")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")

    link(rel="apple-touch-icon" href="/img/logo-on-black-60px.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/img/logo-on-black-76px.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/img/logo-on-black-120px.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/img/logo-on-black-152px.png")
    link(rel="apple-touch-startup-image" href="/img/startup-ios.png")

    link(rel="icon" sizes="196x196" href="/img/logo-196px.png")

    block scripts

    include ../inc/google-analytics

  body(ng-controller="TopLevelCtrl"
    ng-mouseup="mouseup($event)" ng-mousedown="mousedown($event)"
    ng-mousemove="mousemove($event)"
    ng-mouseleave="mouseleave($event)"
    ng-keydown="keydown($event)" ng-keyup="keyup($event)")
    #topLevel
      block content
  
    //- <!-- In production use:
    //- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    //- -->

    block prerequisites
    div !{compactJsHtml()}
    block bottom