doctype html
html(lang="en" ng-app="#{angularModuleName}" prefix="og: http://opg.me/ns#")
  head
    title Circle Blvd.
    base(href="/")

    link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
    link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(href='//fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet' type='text/css')
    block stylesheets

    include ../inc/site-meta
    include ../inc/open-graph
    include ../inc/mobile-devices

    block scripts

    include ../inc/google-analytics

  body(ng-controller="TopLevelCtrl"
    ng-mouseup="mouseup($event)" ng-mousedown="mousedown($event)"
    ng-mousemove="mousemove($event)"
    ng-mouseleave="mouseleave($event)"
    ng-keydown="keydown($event)" ng-keyup="keyup($event)")
    #topLevel
      block content
  
    //- <!-- In production use:
    //- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    //- -->

    block prerequisites
    div !{compactJsHtml()}
    block bottom